body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #7AC943; /* Verde Areandina */
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

.btn {
    background-color: white;
    color: #7AC943;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #5CA635;
    color: white;
}

/* Menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu a {
    text-decoration: none;
    color: #7AC943;
    padding: 5px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #5CA635;
    color: white;
}
