body {
    font-family: Arial, sans-serif;
    background-color: #E5F8C0; /* Verde claro Areandina */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Verde oscuro Areandina */
    padding: 20px;
}

h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a, .dropbtn {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.dropbtn {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.dropdown-content li {
    margin: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
