/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
.ui-corner-all{ -webkit-border-radius: 4px; border-radius: 4px;}
#IAPubardoraEnu{ font-size: 14px;font-family:Verdana, Geneva, sans-serif; position: relative; padding: 5px; margin-bottom: 10px;
text-align: center;
}
html, body {margin: 0;padding: 5px;overflow: hidden;height: calc(100% - 10px);}
#IAPubardoraTabs {margin: 0;padding: 0;font-family:Verdana, Geneva, sans-serif;}
#IAPubardoraTabs li{font-family:Verdana, Geneva, sans-serif;font-size:12px;border-radius:4px;}
.conTabs{overflow:hidden !important;}
iframe{width:calc(100% - 10px);height:calc(100% - 10px);}
.conTabs p{text-align: center;}
#IAPubardoraTabs h3{font-family:Verdana, Geneva, sans-serif;font-size:12px;border-radius:4px;}
.ui-tabs-vertical {width:100%px;}
.ui-tabs-vertical .ui-tabs-nav {padding:2px; float: left; width:300px;}
.ui-tabs-vertical .ui-tabs-nav li {clear:left;width:100%;border-bottom-width:1px !important; border-right-width: 0 !important; margin: 0 -1px 2px 0;}
.ui-tabs-vertical .ui-tabs-nav li a {display:block;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {padding-bottom:0;padding-right:.1em;border-right-width: 1px; border-right-width:1px;}
.ui-tabs-vertical .ui-tabs-panel { padding:1px;float:right;width:calc(100% - 315px);}
